{##
/**
 * The template for displaying the footer.
 *
 * Contains the closing of the #content div and all content after
 *
 * @package Wisteria
 */
#}
<script src="{{ theme_url }}/js/jquery.js"></script>
<script src="{{ theme_url }}/js/custom.js"></script>
<footer>
    <div class="container">
        <div class="row">
            <ul class="list-inline text-center">
                {% for link,icon in meta.social %}
                    <li>
                        <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-{{ icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="copyright">
        <p class="copyright text-muted">Copyright &copy; Yeye Balám 2019</p>
    </div>
</footer>