<button class="js-menu menu" type="button">
    <span class="bar"></span>
</button>

<nav class="mobile-menu">
    <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
    </ul>
</nav>