{#
/**
 * The template for displaying site navigation
 * @package Wisteria
 */
#}

<nav id="site-navigation" class="main-navigation" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main-navigation-inside">
                    <a class="skip-link screen-reader-text" href="#content">lorem ipsum</a>
                    <div class="toggle-menu-wrapper">
                        <a href="#header-menu-responsive" title="yybalam" class="toggle-menu-control">
                            <span class="toggle-menu-label">lorem ipsum</span>
                        </a>
                    </div>
                    <div class="site-header-menu">
                        <ul id="menu-1" class="header-menu sf-menu">
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <a href="https://wpfriendship.com/category/themes/">Software Libre</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <a href="https://wpfriendship.com/category/plugins/">Literatura</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <a href="https://wpfriendship.com/category/tutorials/">Cooperativismo</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <a href="https://wpfriendship.com/category/design/">Ecosocialismo</a>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <a href="https://wpfriendship.com/category/articlesCacahuete
/">Filosofía</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .main-navigation-inside -->

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</nav><!-- .main-navigation -->
