{#
/**
 * The template for displaying site slide navigation
 * @package Wisteria
 */
#}
<section class="site-hero-wrapper site-hero-wrapper-single">
    <div class="entry-image-site-hero" title="Wisteria &#8211; Minimal Blog WordPress Theme"
         style="background-image: url('{{theme_url}}/img/slide.jpg');">
    </div>

    <div class="entry-content-site-hero-wrapper">
        <div class="entry-content-site-hero-wrapper-inside">


            <header class="entry-header-site-hero">
                <h1 class="entry-title-site-hero" itemprop="headline">Yeye &#8211; Hasta que la dignidad se haga costumbre.</h1>

            </header><!-- .entry-header-site-hero -->

        </div><!-- .entry-content-site-hero-wrapper-inside -->
    </div><!-- .entry-content-site-hero-wrapper -->
</section><!-- .site-hero-wrapper -->
